.header__wrap {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include r(850) {
        flex-direction: column;
        padding: 10px 0;
    }
}

.header__btn {
    position: absolute;
    top: 50%;
    left: 0;
    display: none;
    width: 30px;
    height: 30px;
    padding: 0;
    background: transparent;
    transform: translateY(-50%);
    cursor: pointer;

    @include r(850) {
        display: block;
    }
}

.header__btn_active {

    .header__btn-line {

        &:not(:last-child) {
            margin-bottom: 0;
        }
    }

    .header__btn-line_1 {
        transform: rotate(45deg) translate(1px, 1px);
    }

    .header__btn-line_2 {
        display: none;
    }

    .header__btn-line_3 {
        transform: rotate(-45deg);
    }
}

.header__btn-line {
    display: block;
    width: 100%;
    height: 2px;
    background-color: rgba(0, 0, 0, .5);
    transform-origin: 50% 50%;
    transition: .2s;

    &:not(:last-child) {
        margin-bottom: 8px;
    }
}

.logo_header {
    max-width: 150px;
}

.logo__link {
    display: block;
}

.header__nav {
    transition: .3s;

    @include r(850) {
        position: absolute;
        top: 100%;
        left: -10px;
        z-index: 2;
        width: 100%;
        max-width: 320px;
        background-color: #fff;
        transform: translateX(-100%);
        box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
    }
}

.header__nav_active {
    transform: translateX(0);
}

.header__list {
    display: flex;

    @include r(850) {
        flex-direction: column;
    }
}

.header__item-link {
    display: block;
    padding: 0 10px;
    line-height: 80px;
    font-size: 16px;
    color: #000;
    text-transform: uppercase;
    text-decoration: none;

    @include r(1000) {
        font-size: 14px;
    }
}

.header__item {
    position: relative;

    .header__item-link {
        transition: .3s;

        &:hover {
            background-color: rgba(255, 255, 255, .3);
        }
    }

    &:hover {

        &::after {
            background-color: #779a0a;
        }
    }

    &::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        height: 2px;
        background-color: transparent;
        transition: .3s;
    }

    &:not(:last-child) {

        &::after {

            @include r(850) {
                width: 50%;
                background-color: #779a0a;
            }
        }
    }
}

.header__item_active {

    .header__item-link {
        background-color: rgba(255, 255, 255, .3);
    }

    &::after {
        background-color: #779a0a;

        @include r(850) {
            background-color: transparent;
        }
    }
}