.slider__item {
    position: relative;
    width: 100%;
}

.slider__content {
    position: absolute;
    top: 50%;
    left: calc(50% - 550px);
    transform: translateY(-50%);
}

.slider__item-title {
    margin-bottom: 15px;
    font-size: 46px;
    font-weight: 700;
    color: #fff;
}

.slider__item-divider {
    width: 100%;
    display: flex;
    margin-bottom: 20px;

    &::before,
    &::after {
        content: '';
        display: block;
        height: 3px;
    }

    &::before {
        width: 40%;
        background-color: #2c4a00;
    }

    &::after {
        width: 60%;
        background-color: rgba(255, 255, 255, 0.15);
    }
}

.slider__item-desc {
    max-width: 490px;
    margin-bottom: 20px;
    line-height: 1.4;
    font-weight: 300;
    color: #fff;
}