<section class="intro">
    <div class="slider">
        <div class="slider__item">
            <div class="slider__pic">
                <img src="img/slide-1.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__content">
                <h2 class="slider__item-title">Incredible Experience</h2>
                <div class="slider__item-divider"></div>
                <p class="slider__item-desc">
                    Sunfood Nutraceuticals offers the best quality full service, organic, non-GMO, private
                    supplement manufacturing , as well as packaging design and convenient fulfillment services.
                </p>
            </div>
        </div>
        <div class="slider__item">
            <div class="slider__pic">
                <img src="img/slide-2.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__content">
                <h2 class="slider__item-title">Full Turnkey Process</h2>
                <div class="slider__item-divider"></div>
                <p class="slider__item-desc">
                    Sunfood Nutraceuticals offers the best quality full service, organic, non-GMO, private supplement
                    manufacturing, as well as packaging design and convenient fulfillment services.
                </p>
            </div>
        </div>
        <div class="slider__item">
            <div class="slider__pic">
                <img src="img/slide-3.jpg" alt="" class="slider__img">
            </div>
            <div class="slider__content">
                <h2 class="slider__item-title">Top Quality</h2>
                <div class="slider__item-divider"></div>
                <p class="slider__item-desc">
                    Sunfood Nutraceuticals offers the best quality full service, organic, non-GMO, private supplement
                    manufacturing, as well as packaging design and convenient fulfillment services.
                </p>
            </div>
        </div>
    </div>
</section>